

body {
   
    background-image: linear-gradient(to right , blue ,red)
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 40px;

}

p {
    color: white;
    font-size: 40px;
}